@{
    ViewData["Title"] = "John's Page";
}

<div class="jumbotron">
    <h1>John's BEF Final Project</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to My Final Project</h2>
        <p>
            This is a sample application that
            adds an Enrollment table to the
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built using the MS EF ASP.NET Core Tutorial</h2>
        <p>Build the application by following the steps in a series of tutorials located at:</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download The Full Project</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Project source code &raquo;</a></p>
    </div>
</div>